
@font-face {
	font-family: "Five Minutes";
	src: url("../fonts/Five Minutes.otf");
}

@font-face {
	font-family: "Zantroke";
	src: url("../fonts/ZantrokeRegular.eot");
	src: url("../fonts/ZantrokeRegular.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/ZantrokeRegular.woff") format("woff"),
		 url("../fonts/ZantrokeRegular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}


html {
	min-width : 580px;
}


body {
	font-family: 'Five Minutes';
	text-align: center;
	font-size: 24px;
}


/*** Header ***/

header {
	background: url(../images/e1-head/bg.png) no-repeat center;
	/* Растягиваем фон на всю ширину экрана */
	background-size: cover;
	
	max-width: 100%;
	height: 100vh;
	min-height: 550px;
	position: relative;
	font-family: "Five Minutes";
}

.b-header__image {
	position: absolute;
	width: 100%;
	left: -20px;
	top: 50%;
	margin-top: -265px;
	text-align: center;
}
.b-header__image--h2 {
	position: absolute;
	top: 170px;
	width: 100%;
	font-size: 40px;
	color: #61a70e;
	text-transform: uppercase;
}
.b-header__button {
	position: absolute;
	top: 300px;
	left: 15px;
	font-size: 25px;
}
.b-header__button--link {
	color: #c5c868;
	background-color: #066834;
	padding: 7px;
	text-align: center;
}





/*------------------------------------*\
    #E2-SERVICES
\*------------------------------------*/

.b-services {
	background: url("../images/e2-services/bg/layer_31.png") center repeat;
	color: #454234;
	padding: 50px 15% 50px 15%;
	font-family: "Five Minutes";
}
.b-services__quote {
	font-size: 25px;
	font-weight: 600;   /* Толщина текста */
	text-indent: 0.5em; /* Отступ первой строки */
	text-align: center; /* Выравнивание по ширине */
	padding-top: 60px;
}
.b-services__quote--span {
	color: #829239;
}
.b-services__list {
	font-size: 25px;
	font-weight: 600;
}
.b-services__bottom {
	height: 116px;
	background: url("../images/e2-services/bottom/layer_33.png") center repeat-x;
	width      : 100%;
	margin-top : -50px;
}





/*------------------------------------*\
    #E3-PORTFOLIO
\*------------------------------------*/

.b-portfolio {
	background: url("../images/e3-portfolio/layer_7.png") center repeat;
	font-family: "Five Minutes";
	color: #f6f8ce;
	padding: 50px 10% 150px -10%;
	font-size: 24px;
}
.b-portfolio__header {
	font-family: "Zantroke";
	color: #61a70e;
	font-size: 48px;
	padding-top: 50px;
	text-transform: uppercase;
}


/*** Item 1 ***/

.b-portfolio__image-lg--col_1 {
	min-height: 385px;
	height: 1px;
	margin: 10px auto -15px;
}
	.b-portfolio__image-md--col_1 {
		min-height: 315px;
		height: 1px;
		margin: 10px auto -15px;
	}
	.b-portfolio__image-sm--col_1 {
		min-height: 385px;
		height: 1px;
		min-width: 360px;
		width: 1px;
		margin: 10px auto -15px;
	}
	.b-portfolio__image-xs--col_1 {
		min-height: 380px;
		height: 1px;
		min-width: 360px;
		width: 1px;
		margin: 10px auto -10px;
	}

.b-portfolio__image--col_1 {
	background: url(../images/e3-portfolio/row-1/item-1/boar_force.png) no-repeat;
	display: block;
	background-size: 100%;
	width: 100%;
	height: 100%;
}
	.b-portfolio__image--col_1:hover {
		background: url(../images/e3-portfolio/row-1/item-1/composition.png) no-repeat;
		display: block;
		background-size: 100%;
		width: 100%;
		height: 100%;
	}

.b-portfolio__compos--col_1 {
	max-width: 360px;
	margin: 10px auto -5px;
	min-height: 375px;
	background: #33631e;
	font-size: 18px;
	padding: 15px;
	width: 100%;
	height: 100%;
	/* По-умолчанию информация о составе не видна */
	display: none;
}
	.b-portfolio__compos-md--col_1 {
		max-width: 360px;
		margin: 10px auto -0px;
		min-height: 300px;
		background: #33631e;
		font-size: 60%;
		padding: 15px;
		width: 100%;
		height: 100%;
		display: none;
	}

.b-portfolio__bottom--col_1 {
	background: #295317;
	font-size: 20px;
	padding-top: 5px;
	max-width: 360px;
	width: 100%;
	margin: 10px auto;
	height: 100px;
	margin-top: 0;
}


/*** Item 2 ***/

.b-portfolio__image-lg--col_2 {
	min-height: 385px;
	height: 1px;
	margin: 10px auto -15px;
}
	.b-portfolio__image-md--col_2 {
		min-height: 315px;
		height: 1px;
		margin: 10px auto -15px;
	}
	.b-portfolio__image-sm--col_2 {
		min-height: 385px;
		height: 1px;
		min-width: 360px;
		width: 1px;
		margin: 10px auto -15px;
	}
	.b-portfolio__image-xs--col_2 {
		min-height: 380px;
		height: 1px;
		min-width: 360px;
		width: 1px;
		margin: 10px auto -10px;
	}

.b-portfolio__image--col_2 {
	background: url(../images/e3-portfolio/row-1/item-2/white_dog.png) no-repeat;
	display: block;
	background-size: 100%;
	width: 100%;
	height: 100%;
}
	.b-portfolio__image--col_2:hover {
		background: url(../images/e3-portfolio/row-1/item-2/composition.png) no-repeat;
		display: block;
		background-size: 100%;
		width: 100%;
		height: 100%;
	}

.b-portfolio__compos--col_2 {
	max-width: 360px;
	margin: 10px auto -5px;
	min-height: 375px;
	background: #184560;
	background-size: 100%;
	font-size: 17px;
	padding: 15px;
	width: 100%;
	height: 100%;
	display: none;
}
	.b-portfolio__compos-md--col_2 {
		max-width: 360px;
		margin: 10px auto -0px;
		min-height: 300px;
		background: #184560;
		background-size: 100%;
		font-size: 55.5%;
		padding: 15px;
		width: 100%;
		height: 100%;
		display: none;
	}

.b-portfolio__bottom--col_2 {
	background: #183546;
	font-size: 27px;
	padding-top: 5px;
	max-width: 360px;
	width: 100%;
	margin: 10px auto;
	height: 100px;
	margin-top: -0px;
}


/*** Item 3 ***/

.b-portfolio__image-lg--col_3 {
	min-height: 385px;
	height: 1px;
	margin: 10px auto -15px;
}
	.b-portfolio__image-md--col_3 {
		min-height: 315px;
		height: 1px;
		margin: 10px auto -15px;
	}
	.b-portfolio__image-sm--col_3 {
		min-height: 385px;
		height: 1px;
		min-width: 360px;
		width: 1px;
		margin: 10px auto -15px;
	}
	.b-portfolio__image-xs--col_3 {
		min-height: 380px;
		height: 1px;
		min-width: 360px;
		width: 1px;
		margin: 10px auto -10px;
	}

.b-portfolio__image--col_3 {
	background: url(../images/e3-portfolio/row-1/item-3/chaguar.png) no-repeat;
	display: block;
	background-size: 100%;
	width: 100%;
	height: 100%;
}
	.b-portfolio__image--col_3:hover {
		background: url(../images/e3-portfolio/row-1/item-3/composition.png) no-repeat;
		display: block;
		background-size: 100%;
		width: 100%;
		height: 100%;
	}

.b-portfolio__compos--col_3 {
	background: #37234f;
	font-size: 20px;
	padding: 15px;
	max-width: 360px;
	margin: 10px auto -5px;
	min-height: 375px;
	width: 100%;
	height: 100%;
	display: none;
}
	.b-portfolio__compos-md--col_3 {
		max-width: 360px;
		margin: 10px auto -0px;
		min-height: 300px;
		background: #37234f;
		background-size: 100%;
		font-size: 65%;
		padding: 15px;
		width: 100%;
		height: 100%;
		display: none;
	}

.b-portfolio__bottom--col_3 {
	background: #251439;
	font-size: 27px;
	padding-top: 5px;
	max-width: 360px;
	width: 100%;
	margin: 10px auto;
	height: 100px;
	margin-top: -0px;
}


/*** Item 4 ***/

.b-portfolio__image-lg--col_4 {
	min-height: 385px;
	height: 1px;
	margin: 10px auto -15px;
}
	.b-portfolio__image-md--col_4 {
		min-height: 315px;
		height: 1px;
		margin: 10px auto -15px;
	}
	.b-portfolio__image-sm--col_4 {
		min-height: 385px;
		height: 1px;
		min-width: 360px;
		width: 1px;
		margin: 10px auto -15px;
	}
	.b-portfolio__image-xs--col_4 {
		min-height: 380px;
		height: 1px;
		min-width: 360px;
		width: 1px;
		margin: 10px auto -10px;
	}

.b-portfolio__image--col_4 {
	background: url(../images/e3-portfolio/row-2/item-1/three_suns.png) no-repeat;
	display: block;
	background-size: 100%;
	width: 100%;
	height: 100%;
}
	.b-portfolio__image--col_4:hover {
		background: url(../images/e3-portfolio/row-2/item-1/composition.png) no-repeat;
		display: block;
		background-size: 100%;
		width: 100%;
		height: 100%;
	}

.b-portfolio__compos--col_4 {
	background: #826316;
	font-size: 21px;
	padding: 15px;
	max-width: 360px;
	margin: 10px auto -5px;
	min-height: 375px;
	width: 100%;
	height: 100%;
	display: none;
}
	.b-portfolio__compos-md--col_4 {
		max-width: 360px;
		margin: 10px auto -0px;
		min-height: 300px;
		background: #826316;
		background-size: 100%;
		font-size: 71%;
		padding: 15px;
		width: 100%;
		height: 100%;
		display: none;
	}

.b-portfolio__bottom--col_4 {
	background: #674d14;
	font-size: 27px;
	padding-top: 14px;
	max-width: 360px;
	width: 100%;
	margin: 10px auto;
	height: 100px;
	margin-top: -0px;
}


/*** Item 5 ***/

.b-portfolio__image-lg--col_5 {
	min-height: 385px;
	height: 1px;
	margin: 10px auto -15px;
}
	.b-portfolio__image-md--col_5 {
		min-height: 315px;
		height: 1px;
		margin: 10px auto -15px;
	}
	.b-portfolio__image-sm--col_5 {
		min-height: 385px;
		height: 1px;
		min-width: 360px;
		width: 1px;
		margin: 10px auto -15px;
	}
	.b-portfolio__image-xs--col_5 {
		min-height: 380px;
		height: 1px;
		min-width: 360px;
		width: 1px;
		margin: 10px auto -10px;
	}

.b-portfolio__image--col_5 {
	background: url(../images/e3-portfolio/row-2/item-2/heat_crimea.png) no-repeat;
	display: block;
	background-size: 100%;
	width: 100%;
	height: 100%;
}
	.b-portfolio__image--col_5:hover {
		background: url(../images/e3-portfolio/row-2/item-2/composition.png) no-repeat;
		display: block;
		background-size: 100%;
		width: 100%;
		height: 100%;
	}

.b-portfolio__compos--col_5 {
	background: #65350f;
	font-size: 21px;
	padding: 15px;
	max-width: 360px;
	margin: 10px auto -5px;
	min-height: 375px;
	width: 100%;
	height: 100%;
	display: none;
}
	.b-portfolio__compos-md--col_5 {
		max-width: 360px;
		margin: 10px auto -0px;
		min-height: 300px;
		background: #65350f;
		background-size: 100%;
		font-size: 71%;
		padding: 15px;
		width: 100%;
		height: 100%;
		display: none;
	}

.b-portfolio__bottom--col_5 {
	background: #4e2710;
	font-size: 27px;
	padding-top: 14px;
	max-width: 360px;
	width: 100%;
	margin: 10px auto;
	height: 100px;
	margin-top: -0px;
}


/*** Item 6 ***/

.b-portfolio__image-lg--col_6 {
	min-height: 385px;
	height: 1px;
	margin:10px auto -15px;
}
	.b-portfolio__image-md--col_6 {
		min-height: 315px;
		height: 1px;
		margin:10px auto -15px;
	}
	.b-portfolio__image-sm--col_6 {
		min-height: 385px;
		height: 1px;
		min-width: 360px;
		width: 1px;
		margin:10px auto -15px;
	}
	.b-portfolio__image-xs--col_6 {
		min-height: 380px;
		height: 1px;
		min-width: 360px;
		width: 1px;
		margin: 10px auto -10px;
	}

.b-portfolio__image--col_6 {
	background: url(../images/e3-portfolio/row-2/item-3/ural_gems.png) no-repeat;
	display: block;
	background-size: 100%;
	width: 100%;
	height: 100%;
}
	.b-portfolio__image--col_6:hover {
		background: url(../images/e3-portfolio/row-2/item-3/composition.png) no-repeat;
		display: block;
		background-size: 100%;
		width: 100%;
		height: 100%;
	}

.b-portfolio__compos--col_6 {
	background: #6b1620;
	font-size: 18px;
	padding: 15px;
	max-width: 360px;
	margin: 10px auto -5px;
	min-height: 375px;
	width: 100%;
	height: 100%;
	display: none;
}
	.b-portfolio__compos-md--col_6 {
		max-width: 360px;
		margin: 10px auto -0px;
		min-height: 300px;
		background: #6b1620;
		background-size: 100%;
		font-size: 60%;
		padding: 15px;
		width: 100%;
		height: 100%;
		display: none;
	}

.b-portfolio__bottom--col_6 {
	background: #4c0b12;
	font-size: 27px;
	padding-top: 14px;
	max-width: 360px;
	width: 100%;
	margin: 10px auto;
	height: 100px;
	margin-top: -0px;
}





/*** Wood line (изображение делится пополам) ***/
.b-woodline-1 {
	background: url("../images/wood_line/layer_37.png") repeat-x;
	height: 60px;
	margin-top : -60px;
}
.b-woodline-2 {
	background: url("../images/wood_line/layer_37.png") repeat-x;
	background-position: 0 -60px;
	height: 60px;
}





/*------------------------------------*\
    #E4-REASONS
\*------------------------------------*/

.b-reasons {
	background: url("../images/e4-reasons/bg/layer_31.png") center repeat;
	color: #454234;
}
.b-reasons__header {
	font-family: "Zantroke";
	padding-top: 40px;
	text-transform: uppercase;
}
.b-reasons__header--span {
	font-family: "Zantroke";
	color: #61a70e;
	padding-top: 50px;
	text-transform: uppercase;
}

.b-reasons__list {
	margin-top: 20px;
}
.b-reasons__list--item + .b-reasons__list--item {
	border-left: 1px solid #acacac;
	border-left: 1px solid rgba(156, 156, 156, 0.65);
}
.b-reasons__description {
	font-size: 23px;
	line-height: 1.1;
	margin-top: 20px;
	max-width: 180px;
	margin: 20px auto;
}

.b-reasons__bottom {
	height: 112px;
	background: url("../images/e4-reasons/bg/travy.png");
}





/*------------------------------------*\
    #E5-CONTACT-FORM
\*------------------------------------*/

.b-contact-form {
	background-color: #363b13;
	font-family: "Five Minutes";
	color: #7ba326;
	font-size: 23px;
}
.b-contact-form__header {
	font-family: "Zantroke";
	color: #ffe69a;
	padding-top: 40px;
	text-transform: uppercase;
}

.b-contact-form__input {
	font-family: "Arial Narrow", Arial, sans-serif;
	font-size: 13px;
	font-weight: lighter;
	padding-left: 18px;
}
.b-contact-form__input--textarea {
	font-family: "Arial Narrow", Arial, sans-serif;
	margin-top: -7px;
}
textarea {
	/* Отменяем возможность растяжения textarea */
	resize: none;
}
input {
	/* Отступы между элементами input */
	margin-top: -6px
}


/*** Сообщение под формой ***/

.b-contact-form__message--lg {
	margin-top: -10px;
	margin-left: 210px;
}
.b-contact-form__message--md {
	margin-top: -10px;
	margin-left: 280px;
}
.b-contact-form__message--xs-sm {
	margin-top: 20px;
	margin-left: 280px;
}


/*** Кнопка "Отправить" ***/

/* lg */
.b-contact-form__button--lg {
	position: relative;
	width: 100%;
	left: -35px;
	top: -20px;
}
	/* md */
	.b-contact-form__button--md {
		position: relative;
		width: 100%;
		left: -18px;
		top: -20px;
	}
	/* sm */
	.b-contact-form__button--sm {
		position: relative;
		width: 100%;
		top: 5px;
		margin-bottom: 50px;
	}
	/* xs */
	.b-contact-form__button--xs {
		position: relative;
		width: 100%;
		top: -35px;
	}

.b-contact-form__button--btn-text {
	font-size: 39px;
	font-weight: normal;
	color: #e6e058;
	text-transform: uppercase;
	display: block;
	margin-top: -8px;
}

/* lg */
.b-contact-form__button--btn-lg {
	position: absolute;
	top: -100px;
	left: 174px;
	height: 50px;
	width: 225px;
	background-color: #1f2219;
}
	/* md */
	.b-contact-form__button--btn-md {
		position: absolute;
		top: -100px;
		left: 214px;
		height: 50px;
		width: 225px;
		background-color: #1f2219;
	}
	/* sm */
	.b-contact-form__button--btn-sm {
		position: absolute;
		top: -125px;
		left: 87px;
		height: 50px;
		width: 225px;
		background-color: #1f2219;
	}
	/* xs */
	.b-contact-form__button--btn-xs {
		position: relative;
		top: -121px;
		left: -18px;
		height: 50px;
		width: 225px;
		background-color: #1f2219;
		margin-bottom: -30px;
	}





/*** Footer ***/

footer {
	background-color: #202215;
	font-family: "Five Minutes";
	color: #829239;
	font-size: 25px;
	padding-bottom: 30px;
}
.b-footer__link {
	color: #829239;
}